<html>
    <body>
        <h1>Daily Comics</h1>
        <nav>
            <a href="{% url 'comics-for-day' previous_day %}">Previous</a>
            <h2>{{ chosen_day|date:"N d, Y" }}</h2>
            <a href="{% url 'comics-for-day' next_day %}">Next</a>
        </nav>
        <div id="comic-strips">
        {% for comic_strip in comics %}
            <p>{{ comic_strip.series_name }}</p>
            <img src="{{ comic_strip.strip_url }}" width="900" height="280">
        {% empty %}
            <p>Sorry, there are no comic strips for that day.</p>
        {% endfor %}
        </div>
    </body>
</html>